* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1.1 arial, sans-serif;
  color: #524d4d;
}

.title-level1 {
  margin: 0;
}

.title-level2 {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #c4bbbb;
}

.list {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: inside;
}

p {
  margin: 20px 0;
}

.wrapper {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.info {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.avatar {
  width: 128px;
  margin-right: 20px;
}